* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

.logo {
    width: 200px;
    height: 100px; 
    position: fixed; 
    top: -6px;
    margin-left: 580px;
 
}

 /* Estilo para os cards */
 .card {
  padding: 20px;
  width: 200px;
  border: 1px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #FF912B, #FF4438);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: transparent;
  height: 95px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  white-space: nowrap;
  position: relative;
  box-shadow: #a1a1a1 0px 4px 4px 0px;
}

.card-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
}
  .livros{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic; 
    color: #000000;
    
    
    }
    
    
    
    
    .master_car{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
    border: none;
    margin-top: 4%;
    width: 700px;
    height: 405px;
    margin: 4% auto;
    overflow: hidden;
    grid-gap: 10px 15px;
     
    }
  
.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 100px;
  align-self: center;
  margin-top: 5px;
}
.unit{
  color: #f0f0f0;
}

.btn-chart {
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-chart.btn-pink {
  background-color: #fff;
  color: #fff;
}

/* Estilos básicos para os gráficos */
.graficos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.column {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.graph {
  margin-top: 10px;
}

.label-captura {
  margin-top: 10px;
}


h1{
    font-family: "ABeeZee", sans-serif;
    font-weight: 700;
    font-style: bold; 
    background:  linear-gradient(to right, #FF912B, #FF4438);
    color: transparent;
    font-size: 48px;
    -webkit-background-clip: text;
    background-clip: text;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    left: 10px; 
    margin-top: 3%
  }



#menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #FF4438;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
    
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
    
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 50px 50px;
    background: radial-gradient(circle, #FF912B, #FF4438);
    border-radius: 20%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }
  